body{
	background-color: gray;
}
.main{
	background-color: aqua;
     display: flex;
     justify-content: space-around;
     margin:10%;
     border-radius: 5%;
     box-shadow: 4px 4px 4px 4px; 
}
.sub{
	background: pink;
	border-radius: 5%;
	margin: 3%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}
img{
	margin: 4%;
	border-radius: 2%;
	width:70%;
	height: 35%; 
}